/* Lesson #1 - Basic styles, header, buttons */
html {
    background: url(../images/main-food-background.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	color: gray;
	text-align: center
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

/* NAVBAR - start*/
#navbar {
    height: 80px;
}

nav .brand-logo {
	font-size: 0;
    padding-top: 3px;
}

a.brand-logo {
    font-size: 0x;
    padding-top: 3px;
}

nav .brand-logo {
	font-size: 50px;
    padding-top: 3px;
}

#quote {
    font-family: 'Coiny', cursive;
    font-size: 20px;
    padding: 43px 0 0 0;
    overflow: hidden;
}

h6 { 
    white-space: nowrap;
}

#navbar-links {
    margin: 11px 0 0 0;
}

h1{
	margin:  0px 0px 20px 0px;
	font-size: 24px;
	font-family: 'Nothing You Could Do', cursive;
}

img {
	width: 100%;
}

button {
	padding: 5px 8px 5px 8px;
	background: linear-gradient(#a29b9b, gray);
	color: white;
	border: 0px;
	border-radius: 2px;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 10px;
}

button:hover {
	background: linear-gradient(#a6d1ec, #32a1d7);
}

button:focus {
	outline: none
}

.hide {
	display: none !important;
}

.auth {
	cursor: pointer;
}

#header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	text-align: left;
	padding: 20px 40px 30px 40px;
}

#profile-photo-header {
	max-width: 60px;
	border-radius: 100px;
	margin-top: 10px;
	float: right
}

#user-details-header {
	text-align: left
}

#sign-in-link-header {
	padding: 0px 20px 0px 10px;
	transition: 0.5s;
}

#sign-in-link-header:hover {
	padding: 0px 20px 0px 20px;
	border-left: 1px solid #32a1d7
}

/* Lesson #1 Footer */
/* FOOTER - start */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
    height: 4%;
    font-weight: bold;
    padding: 6px 0 0 0;
}
/* FOOTER - end */

/* Lesson #2 Modal */
#modal {
	display:none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	margin-top: 5%;
}

#modal-content {
	background-color: #fefefe;
	margin: 4% auto;
	border: 1px solid #888888;
	max-width: 350px;
}

#close {
	float: right;
	margin-right: -15px;
	margin-top: -15px;
	font-weight: bold;
	padding: 0px 7px 5px 7px;
	border-radius: 100px;
}

#close:hover, #close:focus {
	text-decoration: none;
	cursor: pointer;
}


/* Lesson #3 Forms and Toggle */
input {
	width: 100%;
	font-size: 20px;
	padding: 10px 0px 10px 0px;
	border-width: 0px 0px 2px 0px;
}

input::placeholder {
	color: #989898
}

input:focus {
	border-color: green;
	outline: none;
}

#authentication {
	padding: 40px 20px 20px 20px;
}

#sign-in-link, #create-user-link {
	color: #32a1d7
}

#create-user-inputs, #sign-in-inputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 30px;
}

#forgot-password-inputs {
	margin-bottom: 20px;
}

#forgot-password-link {
	text-align: right;
	font-size: 10px;
	margin-top: -17px;
}

#create-user-display-name {
	grid-column-end: span 1;
}

#have-or-need-account-dialog {
	padding-top: 10px;
}


/* Lesson #7 User Dasboard */
#account {
	background-color: teal;
	padding: 30px;
	border-radius: 20px;
}

#dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 20px 40px 50px 40px;
}

#profile-photo-account {
	max-width: 150px;
	margin: auto;
	border-radius: 100px;
}

#display-name {
	margin: 30px 20px;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

h3{
	color: white
}


/* Lesson #9 Handling error and success messages */
#message {
	display: none;
	border: 1px solid;
	position: relative;
	margin: 40px 20px 20px 20px;
	padding: 10px;
}

/* Lesson #10 Loading visual cue */
#loading-outer-container {
	margin: 40px auto;
}

#loading-inner-container {
	position: relative;
	width: 40px;
	height: 40px;
	left: 0;
	right: 0;
	margin: auto;
	top: 20%;
}

#loadspin {
	width: 40px;
	height: 40px;
	position: absolute;
	margin: 0 auto;
}

#circle1{
	background-color: #39B1C6;
}

#circle2 {
	background-color: #EC3F8C;
}

#circle1, #circle2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation:bounce 2s infinite ease-in-out;
	animation:bounce 2s infinite ease-in-out;
}

#circle2 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

@-webkit-keyframes bounce {
	0%, 100%{
		-webkit-transform: scale(0)
	}
	50%{
		-webkit-transform: scale(1)
	}
}

@webkit-keyframes bounce {
	0%, 100% {
		-webkit-transform: scale(0)
	}
	50% {
		-webkit-transform: scale(1)
	}
}

/* Lesson #11 Email verificaiton */
#email-not-verified-notification {
	background-color: red;
	color: white;
	font-size: 12px;
	padding: 4px;
}

/* Lesson #13 Prepare for OAuth */
#oauth-providers-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 45px;
	padding-bottom: 40px;
}

#or {
	border-top: 2px solid #EFEFEF;
	position: relative;
	margin-bottom: 40px;
}

#or > p {
	position: absolute;
	top: -13px;
	left: 45%;
	width: 10%;
	text-align: center;
	margin: 0px;
	background-color: white;
}

/* Lesson #18 Delete account */
#show-delete-account-dialog-trigger {
	color: red;
	text-align: center;
	margin-top: 30px;
	font-size: 12px;
}

#delete-account-dialog {
	color: red;
	text-align: center;
	border-radius: 5px;
	margin-top: 40px;
	padding: 10px 10px 15px 10px;
	border: 3px solid #EFEFEF;
	background-color: white;
}

#delete-account-dialog > p {
	font-size: 12px;
	margin: 0px;
}

#hide-delete-account-dialog-trigger:hover {
	background-color: linear-gradient(#FF8597, red)
}


/* Lesson #20 To do list application */
.delete-button {
	margin-left: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
}

/* ALL THREE BOXES - start */
.main-content {
    padding-top: 20px;
    margin-top: 10px;
}

.card-panel {
	opacity: 0.8;
}

.three-boxes, .grocery-box {
    border: 5px teal solid;
    min-height: 575px;
    border-radius: 25px
}
/* ALL THREE BOXES - end */

/* FIRST BOX - start */
/* Input lines from box 1 - start */
.col .row {
    margin-left: 0;
    margin-right: 0;
}

/* SCROLL BAR - start */
.scroll2::-webkit-scrollbar {
    width: 0px;
  }
   
.scroll2::-webkit-scrollbar-thumb {
    background: #666; 
  }

.scroll-box {
    overflow-y: scroll;
    height: 100px;
    padding: 1rem
}
/* SCROLL BAR - end */
