body {
    background-image: url(../images/main-food-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* Munchies "Logo" - start */
a.brand-logo {
    font-size: 43px;
    padding-top: 5px;
}
/* Munchies "Logo" - end */

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

/* Three Columns - start */
.main-content {
    padding-top: 20px;
    margin-top: 5px;
}

.three-columns {
    border: 5px teal solid;
    min-height: 600px;
    border-radius: 25px
}
/* Three Columns - end */

/* FIRST COLUMN - start */
/* Input lines from column 1 - start */
.col .row {
    margin-left: 0;
    margin-right: 0;
}
/* Input lines from column 1 - end */

#user_list {
    margin-top:0;
}

::placeholder {
    color: grey lighten-5;
    opacity: .35;
}

#submit-ing-btn {
    letter-spacing: 0px;
    background: lightgrey;
    border-radius: 25px
}

.recent-ing-box {
    padding: 0;
    margin: 0;
}

/* SECOND COLUMN - start */
/* Recipes Boxes - start */
.card #recipe-boxes {
    border: 3px orange solid;
    margin: 10px 0 5px 20px;
    padding: 0 0 0 0;
    position: absolute;
    width: 90%;
    height: 21%;
    border-radius: 25px;
}

.card #recipe-content {
    margin: 0;
    padding: 0;
}

.recipe-text{
    float: left;
    font-weight: bold;
    margin: 0 0 0 30px;
}

#recipe-name {
    text-decoration: underline;
}

#recipe-image {
    float: right;
    width: 75px;
    height: auto;
    border: 1px black solid;
    margin: 3px 30px 0 0;
}