body {
    background-image: url(../images/main-food-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* NAVBAR - start*/
#navbar {
    height: 80px;
}

/* Munchies "Logo" - start */
a.brand-logo {
    font-size: 50px;
    padding-top: 3px;
}

#quote {
    font-family: 'Coiny', cursive;
    font-size: 20px;
    padding: 43px 0 0 0;
    overflow: hidden;
}

#navbar-links {
    margin: 11px 0 0 0;
}
/* NAVBAR - end*/

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

/* THREE BOX - start */
.main-content {
    padding-top: 20px;
    margin-top: 10px;
}

.three-boxes, .grocery-box {
    border: 5px teal solid;
    min-height: 600px;
    border-radius: 25px
}
/* THREE BOX - end */

/* FIRST BOX - start */
/* Input lines from box 1 - start */
.col .row {
    margin-left: 0;
    margin-right: 0;
}
/* Input lines from box 1 - end */

#user_list {
    margin-top:0;
}

::placeholder {
    color: grey lighten-5;
    opacity: .35;
}

/* ADD, REMOVE, SUBMIT BUTTONS - start */
.add-remove-submit {
    margin-right: 15px;
}

.btn-small {
    letter-spacing: 0px;
    background: lightgrey;
    border-radius: 25px;
    margin: 1px 0 5px 10px;
}
/* ADD, REMOVE, SUBMIT BUTTONS - end */

.recent-ing-box {
    padding: 0;
    margin: 0;
}
/* FIRST BOX - end */

/* SECOND BOX - start */
/* Recipes Boxes - start */
.card #recipe-boxes {
    border: 3px orange solid;
    display: inline-block;
    left: 5%;
    margin: 0 0 20px 0;
    padding: 0;
    position: absolute;
    width: 90%;
    height: 23%;
    border-radius: 25px;
}

.card #recipe-content {
    margin: 0;
    padding: 0;
}

.recipe-text{
    float: left;
    font-weight: bold;
    margin: 10px 0 0 30px;
}

#recipe-name {
    text-decoration: underline;
}

#fav-icon {
    float: right;
    margin: 0 10px 0 0;
}

#recipe-image {
    float: right;
    width: 75px;
    height: auto;
    border: 1px black solid;
    margin: 10px 30px 0 0;
}
/* SECOND BOX - end */

/* THIRD BOX - start*/
#recipe-ingredients, #nutrition-facts {
    text-decoration: underline;
}

.ingredientLines, .nutrition {
    margin: 0;
    padding: 0;
}